
@font-face {
  font-family: 'iconfont';  /* Project id 4106829 */
  src: url('//at.alicdn.com/t/c/font_4106829_zht8j7o2e0c.woff2?t=1686032576507') format('woff2'),
        url('//at.alicdn.com/t/c/font_4106829_zht8j7o2e0c.woff?t=1686032576507') format('woff'),
        url('//at.alicdn.com/t/c/font_4106829_zht8j7o2e0c.ttf?t=1686032576507') format('truetype');
}
  
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-docker:before{
  content: "\e600";
}