@font-face {
  font-family: "iconfont"; /* Project id 4106829 */
  src: url('iconfont.woff2?t=1706509779108') format('woff2'),
       url('iconfont.woff?t=1706509779108') format('woff'),
       url('iconfont.ttf?t=1706509779108') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-docker:before{
  content: "\e600";
}

.icon-vue:before {
  content: "\e799";
}

.icon-frontend:before {
  content: "\e61c";
}

.icon-work:before {
  content: "\e68c";
}

.icon-mysql:before {
  content: "\e682";
}

.icon-cleaner:before {
  content: "\eaa9";
}

.icon-microservice:before {
  content: "\e7fa";
}

.icon-ai:before {
  content: "\ec5f";
}

.icon-tools:before {
  content: "\e6c2";
}

.icon-navigate:before {
  content: "\e619";
}