.content {
  font-size 30px
}

// 首页标签列表样式
.abstract-item {
  background-color: #acdcfd3d !important;  
  transition: all .5s;
}
.abstract-item:hover {
  transform:  scale(1.02);
  transition: all .5s;
}
// 页面样式
.page {
  background-color: #f2f4f5;
}
// 内容展示宽度设置
.page .page-title {
  max-width: 1000px !important
}
.content__default:not(.custom){
  max-width: 1000px !important  
}

// 左侧侧边栏样式
.sidebar {
  margin-right: 0.8rem
}
.sidebar-heading{
  font-size: 1.1em !important;
  font-weight: bold !important
}
.sidebar ul.sidebar-links > li{
  background-color: white !important;  
}
a.sidebar-link.active{
  background-color: #dbf0e5 !important;
  border-left: 5px solid #3eaf7c !important;
  border-right: none !important;
}
// 左侧侧边栏标题
.sidebar > .sidebar-links > li > a.sidebar-link {
  font-size: 1.5em !important;
  margin-left: -1em;
}

// 右侧侧边栏样式
.theme-container .sub-sidebar {
  padding-top: .5rem;
  right: 0.5rem !important;
  top: 3.3rem !important;
  bottom: auto !important;
  background-color: white;  
  width: 13rem !important
}

// 右侧侧边栏标题
.sub-sidebar-wrapper li{
  font-size: 1.1em !important;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  margin-top: -0.5rem !important;
  border-left: none !important;
}

// 右侧侧边栏字体颜色
.sub-sidebar-wrapper li a{
  color: #6d727a !important
}
.sub-sidebar-wrapper li.active a {
  font-weight: bold
  color: #3eaf7c !important
} 
.sub-sidebar-wrapper li:hover a{
  color: #3eaf7c !important
} 


// 中间内容区 start region
main section {
  background-color: white;
  margin-top: -1.0rem;
  margin-left: 0.4rem;
}

.page-edit {
  background-color: white;
  max-width: none !important;
  margin: 0 0 0 0.4rem !important;
}
.page-nav {
  background-color: white;
  max-width: none !important;
  margin: 0 0 0 0.4rem !important;
}
// end region
// 时间线样式
.timeline-wrapper .year {
  margin: 80px 0px 20px !important;
  font-size: 27px !important;
}
.timeline-wrapper .year-wrapper li {
    padding: 10px 20px 10px !important;
    border-bottom: 2px solid #999da06b !important;
    background: #c1c1e626;
    border-radius: 5rem;
    margin: 5px 0px;
    transition: all .5s;
}
.timeline-wrapper .year-wrapper li:hover {
    transform:  translate(50px,0);
    transition: all .5s;
}
.timeline-wrapper .year-wrapper li .date {
  width: 43px !important;
  font-size: 13px !important;
}
.timeline-wrapper .year-wrapper li .date:before {
    top: 22px !important;
    border: 1px solid !important;
}
.timeline-wrapper:after {
    background: skyblue !important;
}
.timeline-wrapper .desc:before, .timeline-wrapper .year:before {
  background: cadetblue !important;
}

// 首页副标题样式
.home-blog .hero .description {
  font-family: cursive
  font-size: 2rem !important
}

// 留言板和树洞页面自定义样式
.message-board, .treeholes{
  .page{
    background-color: white !important;
  }
}

// 摘要样式
blockquote {
  background-color: #fff5eb !important;
  border: 1px solid #fedab0;
  border-radius: 7px;
  border-left: none !important;
  color: #6d727a !important
}

// 滚动条
// .page::-webkit-scrollbar
//   width: 5px;
//   height: 5px;

// .page::-webkit-scrollbar-track-piece
//   // background-color: rgba(0, 0, 0, 0.2);

// .page::-webkit-scrollbar-thumb:vertical
//   height: 5px;
//   background-color: green;

// .page::-webkit-scrollbar-thumb:horizontal
//   width: 5px;
//   background-color: green;


// /* 
//   留言板样式 
// */

// // 留言板背景
// #veditor {
//   background-image: url("/comment.webp");
//   background-size: contain;
//   background-repeat: no-repeat;
//   background-position: right;
//   background-color: rgba(255, 255, 255, 0);
//   resize: vertical
// }

// // nick、email、link
// .v[data-class=v] .vwrap .vheader .vnick {
//   border: 2px solid #dedede;
//   border-radius: 5px
//   margin-bottom: 5px
// }

// .v[data-class=v] .vwrap .vheader .vmail {
//   border: 2px solid #dedede;
//   border-radius: 5px
// }

// .v[data-class=v] .vwrap .vheader .vlink {
//   border: 2px solid #dedede;
//   border-radius: 5px
// }

// // 头像旋转
// img.vimg {
//   transition: all 1s   /* 旋转时间为 1s */
// }

// img.vimg:hover {
//   transform: rotate(360deg);
//   -webkit-transform: rotate(360deg);
//   -moz-transform: rotate(360deg);
//   -o-transform: rotate(360deg);
//   -ms-transform: rotate(360deg);
// }

// // 留言卡片
// .v[data-class=v] .vcards .vcard {
//   padding: 15px 20px 0 20px;
//   border-radius: 10px;
//   margin-bottom: 15px;
//   box-shadow: 0 0 4px 1px rgba(0, 0, 0, .12);
//   transition: all .3s
// }

// .v[data-class=v] .vcards .vcard:hover {
//   box-shadow: 0 0 8px 3px rgba(0, 0, 0, .12)
// }

// .v[data-class=v] .vcards .vcard .vh .vcard {
//   border: none;
//   box-shadow: none;
// }




// .home-blog .hero h1 {
//   margin-top: 20rem !important
//   color: #fff
//   font-family: cursive
//   border: none;
//   background-color: #3eaf7c;
//   cursor: pointer;
//   font-size: 3rem !important
//   display: inline !important
// }

