// Theme's Palette
@import("/Users/songjian/Project/vscode/blog/node_modules/vuepress-theme-reco/styles/palette.styl")

// User's Palette
@import("/Users/songjian/Project/vscode/blog/docs/.vuepress/styles/palette.styl")